* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

.background {
    background: rgb(234, 234, 234);
    background-image: linear-gradient(to bottom, #051322, #15457c);
    background-size: 100% 53rem;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    font-family: sans-serif;
}

.logo {
    width: 11.3rem;
    height: 3.6rem;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120rem;
    height: 4rem;
    position: 100%;
    margin: 1rem 8rem 1rem 8rem;
}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.nav-items ion-icon {
    font-size: 3rem;
}

.nav-items div p {
    margin: 0;
}

.nav-items P span {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-items div p:nth-child(2) {
    font-size: 0.8rem;
}

.nav-items .btn1 {
    color: rgb(248, 248, 248);
    background-image: linear-gradient(to left, #0B60F3, #63a7df);
    border: 0px;
    border-radius: 3px;
    height: 4rem;
    width: 21.3rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.nav-items .btn1 a {
    font-size: small;
    flex-direction: row;
}

.nav-items .btn1 .icon1,
.nav-items .btn2 .icon1 {
    height: 2rem;
    width: 2rem;
    margin: 5px;
    color: rgb(255, 255, 255);
}

.nav-items .btn1 .icon2,
.nav-items .btn2 .icon2 {
    height: 2rem;
    width: 1.5rem;
    color: rgb(255, 255, 255);
}

.nav-items .btn2 {
    color: rgb(255, 255, 255);
    background-color: #5f6a75;
    border: 0px;
    border-radius: 2px;
    height: 4rem;
    width: 12rem;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin: 0rem;
}

.header-item {
    background-color: #fff;
    width: 97rem;
    height: 8rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2.5rem;
    box-shadow: 0px 1px 5px 1px #7a7a7a;
}

.header-item span a {
    color: black;
    text-decoration: none;
}

.header-item span a i {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(58, 56, 56);
}

.tickets {
    width: 120rem;
    height: 32rem;
    background-color: #fff;

    border-radius: 10px;
    z-index: 5;
    display: grid;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin: 8rem 8rem 0rem 8rem;
}

.tickets-type {
    margin-top: 4rem;
    margin-left: 2rem;
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
}

.form-check-input,
.form-check-label {
    color: #989ba0;
    font-size: small;
}

.destination {
    padding: 0rem 0rem;
    margin: 0rem 2rem;
    display: flex;
    flex-direction: row;
}

.destonation-from {
    border: 1px solid rgb(224, 217, 217);
    padding: 1.5rem 2rem;
}

.destination h1 {
    font-weight: 600;
}

.abc-1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: none;
}

.abc-2 {
    border-right: none;
}

.abc-3 {
    border-right: none;
}

.abc-4 {
    border-right: none;
}

.abc-5 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.date {
    font-size: 1.4rem;
    font-weight: 200;
}

.btn {
    font-size: 16px;
}

.select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    width: 60.8rem;
    height: 4.5rem;
}

.xyz {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 0.1rem;



}

.xyz div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #e7e6e6;
    border-radius: 3px;
    font-weight: 600;

}

.select h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: small;
    color: #a3a2a2;
}

.search-btn {

    width: 20rem;
    height: 4.5rem;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to left, #0B60F3, #51AFFE);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    margin: -2rem 55rem 0rem 55rem;

}

.search-btn i {
    color: #fff;
    font-size: large;
    font-weight: 800;
    text-decoration: none;
}

.search-btn span a {
    text-decoration: none;
}

.Explore-section {

    width: 80rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    margin: 3rem 25rem 0rem 25rem;
}

.Explore-section span a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.Explore-section span a i {
    color: black;
    font-size: small;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.offers {
    width: 120rem;
    height: 53.3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 3rem 8rem 0rem 8rem;
    box-shadow: 0px 1px 5px 1px #e2dfdf;

}

.offers-nav {
    width: 110rem;
    height: 5rem;
    background-color: white;
    display: flex;
    margin-top: 1rem;

}

.offers-nav span a {
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    font-size: x-large;
    font-weight: bolder;
}

.offers-nav ul {
    display: flex;
    justify-content: space-evenly;
}

.offers-nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.offers-nav ul li a {

    color: black;
    text-decoration: none;
    font-family: sans-serif;
    margin: 1.5rem;
    font-size: small;
    font-weight: 600;
}

.offers-items {
    display: inline-flex;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.offers-items img {
    width: 12rem;
    height: 12rem;
    border-radius: 5px;
}

.offers-items .row-1 .grid-item .item1 {
    display: flex;
    flex-direction: row;
    height: 15rem;
    align-items: center;
    margin: 1rem;
}

.offers-items .row-1 .grid-item .item1 span {
    margin: 2rem;

}

.offers-items .row-1 .grid-item .item1 span h2 {
    font-weight: 700;
    text-decoration: none;
    color: rgb(56, 51, 51);
    font-family: sans-serif;

}

.offers-items .row-1 .grid-item .item1 span a {
    font-weight: lighter;
    color: grey;
}

.offers-items .row-1 .grid-item .item2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.offers-items .row-1 .grid-item .item2 a {
    text-decoration: none;
    color: grey;
}

.offers-items .row-1 .grid-item .item2 button {
    text-decoration: none;
    border-style: none;
    font-weight: bold;
}

.grid-item {
    column-gap: 1px;
    margin: 1rem 1rem 2rem 1rem;
    height: 20rem;
    width: 35rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px #c7c7c7;

}

.sticky {
    display: flex;
    justify-content: center;
    padding: 2rem 5rem 2rem 10rem;
    gap: 1rem;
}

.cards {
    width: 40rem;
    height: 11rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0rem;
    box-shadow: 0px 1px 5px 1px #dddddd;
}

.cards .img1 {
    width: 8.6rem;
    height: 5.7rem;
    margin: 1rem;
}

.cards img {
    width: 6.8rem;
    height: 6.8rem;
    margin: 1rem;
}

.cards h4 {
    font-weight: 600;
    color: #5b5c5e;
}

.cards a {
    text-decoration: none;
    color: #a3a2a2;
}

.download {
    width: 120rem;
    height: 31rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: rem;
    margin: 0rem 8rem 2rem 8rem;
    box-shadow: 0px 1px 5px 1px #e2dfdf;


}

.download-links .by-number .enter-number {
    border-radius: 10px;
    border-color: #000;
}

.download-heading {
    /* width: 110rem;
    height: 5rem; */
    padding: 2rem;

}

.download-heading h1 {
    font-size: 40px;
    font-weight: 700;
    width: 110rem;
    height: 5rem;
}

.download-heading h4 {
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(66, 66, 66);

}

.download-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
}

.download-links .by-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.download-links .by-number .input-group {
    width: 50rem;
}

.download-links .by-store .img-size,
.download-links .by-number .img-size {
    width: 10rem;
    height: 10rem;
}

.download-links .by-store .img-size1 {
    width: 18rem;
    height: 10rem;
}

.collections {
    width: 120rem;
    height: 39.2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 3rem 8rem 2rem 8rem;
    box-shadow: 0px 1px 5px 1px #e2dfdf;
}

.collections-h1 h1 {
    font-size: 40px;
    width: 116rem;
    height: 5rem;
    font-weight: 600;
    margin: 1rem;
}

.albums {
    display: flex;
    gap: 1rem;
}

.album-a {
    background-size: 200px;
    background-image: url(https://hblimg.mmtcdn.com/content/hubble/img/collections/m_romantic44_p_540_417.jpg);
    border-radius: 10px;
}
.album-b {
    background-size: 200px;
    background-image: url(https://hblimg.mmtcdn.com/content/hubble/img/collections/m_honeymoon11_p_540_417.jpg);
    border-radius: 10px;
}

.album-c {
    background-size: 200px;
    background-image: url(https://hblimg.mmtcdn.com/content/hubble/img/TI/mmt/activities/m_curated_collection_international_destination_july_p_403_403.jpg);
    border-radius: 10px;
}

.album-d {
    background-size: 200px;
    background-image: url(https://hblimg.mmtcdn.com/content/hubble/img/collections/m_beach44_p_540_417.jpg);
    border-radius: 10px;
}

.album-e {
    background-size: 200px;
    background-image: url(https://hblimg.mmtcdn.com/content/hubble/img/collections/m_weekend44_p_540_417.jpg);
    border-radius: 10px;
}

.album1 {
    width: 20rem;
    height: 25rem;

    display: flex;
    flex-direction: column;

}


.album1 span {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    align-content: flex-end;
    margin-top: 20rem;
}

.album1 a {
    color: rgb(255, 255, 255);
    width: 7rem;
    font-size: medium;
    font-weight: 600;
    background-color: #000;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    margin-top: 4px;
    box-shadow: 0px 1px 5px 1px #e2dfdf;
}

.album1 p {
    font-size: small;
    font-weight: 500;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;

    box-shadow: 0px 1px 5px 1px #eee9e9;
}

.tripmoney {
    width: 120rem;
    height: 10rem;
    background-color: #ffffff;
    margin: 0rem 8rem 0rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 5px 1px #c7c5c5;
}

.one {
    display: flex;
}

.one img {
    width: 6.1rem;
    height: 6.1rem;
    margin: 2rem;
}

.one span {
    display: flex;
    flex-direction: column;
    height: 2rem;
    margin-top: 3rem;
}

.one h4,
.one h5 {
    background-color: 0B60F3;
    size: 4px;
    font-weight: 700;
}

.two .btn {
    margin: 4rem;
    border: none;
    font-weight: bold;
}

.container {
    max-width: 400px;
    min-width: 40p0x;
}

.title {
    font-weight: 700;
    font-size: 50px;
}

.form-rounded {
    border-radius: 2em;
}

.back-card {
    border-radius: 40px !important;
}

.city-name {
    position: absolute;
    width: 100%;
}

.city-name p {
    font-size: 16pt;
    font-weight: 400;
}

.city-name span {
    font-weight: 400;
    font-size: 36pt;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -60px;
}

.temp span {
    font-weight: 100;
    font-size: 5em;
    letter-spacing: -5px;
    white-space: nowrap;
}

.card-mid {
    line-height: 0.5;
}

.condition {
    line-height: 1em;
    font-weight: 700;
    font-size: 1em;
    text-transform: capitalize;
}

.high::before {
    content: '';
    background: url('img/up.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.low::before {
    content: '';
    background: url('img/down.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.icon-container {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: #202020;
}

.icon-container img {
    margin: auto;
}

.card-bottom {
    line-height: 0.5;
}

.card-bottom span {
    font-size: 12px;
}

.card-bottom p {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -2px;
}

.footer {
    height: 10rem;
    background-color: black;
    color: azure;
    font-size: small;
    margin: 0rem 0rem 0rem 0rem;

}

.footerbottom {
    width: 120rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 0rem 0rem 8rem;
    padding: 3rem 0rem 0rem 0rem;
}

.footerbottom a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.f2 p {
    font-weight: 600;
}
