* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.background {
    background: rgb(234, 234, 234);
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #051322, #15457c);
    background-size: 100% 53.5rem;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    width: 120rem;
}

.logo {
    width: 11.3rem;
    height: 3.6rem;
}

.nav-item {
    display: flex;
    gap: 3rem;
    height: 2rem;

}

.nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

.nav-items ion-icon {
    font-size: 3rem;
}

.nav-items div p {
    margin: 0;
}

.nav-items P span {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-items div p:nth-child(2) {
    font-size: 0.8rem;
}

.nav-items .btn {
    color: rgb(248, 248, 248);
    background-image: linear-gradient(to bottom, #12a7ec, #08bdbd);
    border: 0px;
}

.container-header {
    margin-top: .6rem;
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;

}

.header-item {
    width: 97rem;
    height: 7.9rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4.2rem;
    box-shadow: 0px 1px 5px 1px #7a7a7a;
    z-index: 2;
}

.header-item span a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.header-item span a i {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.abc {
    font-size: 1.6rem;
    font-weight: 500;
    color: grey;
}

.tickets {
    width: 120rem;
    height: 34rem;
    background-color: #fff;
    /* position: ; */
    margin-top: 8rem;
    top: 12.5rem;
    border-radius: 10px;
    z-index: 5;
    display: grid;
    justify-items: left;
}

.tickets-type {
    margin-top: 6rem;
    margin-left: 2rem;
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
}

.destination {
    padding: 1.5rem 0rem;
    margin: 1rem 2rem;
    display: flex;
}

.destonation-from {
    border: 1px solid grey;
    padding: 1.5rem 2rem;
}

.destination h1 {
    font-weight: 600;
}

.abc-1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: none;
}

.abc-2 {
    border-right: none;
}

.abc-3 {
    border-right: none;
}

.abc-4 {
    border-right: none;
}

.abc-5 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.date {
    font-size: 1.4rem;
    font-weight: 200;
}

.btn {
    font-size: 16px;
}

.select {
    padding: 0rem 2rem;
}

.Explore-section {

    width: 80rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 51rem;
    box-shadow: 0px 1px 5px 1px #7a7a7a;
    z-index: 2;
}

.Explore-section span a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.Explore-section span a i {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
}

.offers {
    width: 120rem;
    height: 53.3rem;
    /* width: 1200;
    height: 533; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60rem;
    box-shadow: 0px 1px 5px 1px #c2c1c1;
    z-index: 2;
}

.offers-nav {
    width: 110rem;
    height: 5rem;
    background-color: white;
    display: flex;
    margin-top: 1rem;

    /* z-index: ; */
}

.offers-nav span a {
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    font-size: x-large;
    font-weight: bolder;
}

.offers-nav ul {
    display: flex;
    justify-content: space-evenly;
}

.offers-nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.offers-nav ul li a {

    color: black;
    text-decoration: none;
    font-family: sans-serif;
    margin: 1.5rem;
    font-size: small;
    font-weight: 600;
}

.offers-items {
    display: inline-flex;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.offers-items img {
    width: 12rem;
    height: 12rem;
    border-radius: 5px;
}

.offers-items .row-1 .grid-item .item1 {
    display: flex;
    flex-direction: row;
    height: 15rem;
    align-items: center;
    margin: 1rem;


}

.offers-items .row-1 .grid-item .item1 span {
    margin: 2rem;

}

.offers-items .row-1 .grid-item .item1 span h2 {
    font-weight: 700;
    text-decoration: none;
    color: rgb(56, 51, 51);
    font-family: sans-serif;

}

.offers-items .row-1 .grid-item .item1 span a {
    font-weight: lighter;
    color: grey;


}

.offers-items .row-1 .grid-item .item2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.offers-items .row-1 .grid-item .item2 a {
    text-decoration: none;
    color: grey;
}

.offers-items .row-1 .grid-item .item2 button {
    text-decoration: none;
    border-style: none;
    font-weight: bold;
}

.grid-item {
    column-gap: 1px;
    margin: 1rem 1rem 2rem 1rem;
    height: 20rem;
    width: 35rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px #c7c7c7;

}

.download {
    width: 120rem;
    height: 25rem;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 115rem;
    box-shadow: 0px 1px 5px 1px #acaaaa;
    z-index: 2;
}

.download-heading {
    width: 100rem;
    height: 5rem;
    margin: 2rem;
}

.download-heading h1 {
    font-weight: 700;
}

.download-heading h4 {
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(66, 66, 66);

}

.download-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}






.footerbottom {
    width: 120rem;
    height: 10rem;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: black;
    color: azure;
    font-size: small;
    margin: 96rem;
}

.footer {
    position: absolute;
    top: 70%;

}